<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: centre;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.active {
  background-color: black;
  color: white;
}

.topnav-right {
  float: right;
}

button {
  background-color: black;
  color: white;
  padding: 4px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 20%;
}

form 

input[type=email] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 500px;

}

input[type=password] {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-left: 500px;
}

button {
  background-color: black;
  color: white;
  padding: 14px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  margin-left: 500px;
}

button:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 60%;
}

</style>
</head>
<body>



<div class="topnav">
  <a href="/">Home</a>
  <div class="topnav-right">
    <a href="/sessions/new">Log in</a>
  </div>
</div>

<div style="padding-left:570px">
  <h2>Welcome to MakersBnB <br>
Feel at home, anywhere</h2>
</div>
<div class="imgcontainer">
    <a href="/"><img src="https://i.ibb.co/YBHKrB4/makers-bnb-logo.png" alt="makers-bnb-logo"></a>
</div>
  <%# <p><form action='/spaces' method='get'>
  <button type="submit">View Spaces</button> %>
</form>

<%# <form action='sessions/new' method='get'>
  <button type="submit">Log in</button>
</form> %>

<form action="/user/new" method="post">
  <input type="email" name="email" placeholder="email" />
  <input type="password" name="password" placeholder="password"  />
  <button type="submit">Sign Up</button>
</form></p>
</div>

</body>
</html>


