<form action="/sessions/end" method="post" >
  <input type="submit" value="Log out"/>
</form>

<h1>Book a Space</h1>

<form action="/spaces/new" method="get">
  <input type="submit" value="List a Space"/>
</form>

<ul>
  <% @spaces.each do |space| %>
    <li class="spaces">
    <%= space.name %>
    <form action="/spaces/<%= space.id %>" method="post">
      <input type="submit" value="Book">
      </form>
    </li>
    <% end %>
</ul>
