<h1>List a Space</h1>

<form action="/spaces/new/create" method="post">
  <input type="text" name="name" placeholder="Name"/>
  <input type="text" name="description" placeholder="Description of your space"/>
  <input type="text" name="price" placeholder="Amount per night"/>
  <input type="date" name="available_from" placeholder="Available from"/>
  <input type="date" name="available_to" placeholder="Available to"/>
  <input type="submit" name="List my space"/>
</form>