<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  
  <div class="topnav-right">
    <a href="/spaces">Spaces</a>
    <a href="/requests">Requests</a>
    <a href="/sessions/end">Log out</a>
  </div>
</div>

<div>
  <h2>Book a Space </h2>
</div>

<div class="space-grid">
  <% @spaces.each do |space| %>
    <div class="space-item">
      <div>
        <%= space.name %>
      </div>
      <%= space.description %>  
      £<%= space.price %>
      <form action="/spaces/<%= space.id %>" method="post">
        <button type="book">Book</button>
      </form>
    </div>
  <% end %>
</div>

<div>
  <form action="/spaces/new" method="get">
    <button type="submit">List a Space</button>
  </form>
</div>

</body>
</html>
