<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>MakersBnB - Log in</title>
</head>
<body>

<div class="topnav">
  <a href="/">Home</a>
  <div class="topnav-right">
    <a href="/sessions/new">Log in</a>
  </div>
</div>

<div>
  <h2>Log in to MakersBnB</h2>
</div>

<div class="imgcontainer">
  <a href="/"><img src="https://i.ibb.co/YBHKrB4/makers-bnb-logo.png" alt="MakersBnB Logo"></a>
</div>

<section>

  <form action="/sessions" method="post">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" placeholder="Email" />
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" placeholder="Password" />
    
    <button type="submit">Log in</button>
  </form>
</section>

</body>
</html>
